/* Define colors */
:root {
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
}

/* General styles */
body {
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 20px 20px hsla(256, 72%, 46%, 0.2);
  margin: 2rem auto;
  width: 23.4375rem; /* 375px */
  height: 62.5rem; /* 1000px */
}

/* result section */

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
  padding: 2rem;
  border-radius: 2rem;
  color: var(--white);
  width: 23.4375rem; /* 375px */
  height: 31.25rem; /* 500px */
  box-sizing: border-box;
}

.result h4 {
  font-size: 2rem;
  line-height: 1; 
  margin: 1rem;  
}

.result h5 {
  font-size: 1.5rem;
  color: var(--light-lavender);
  line-height: 1; 
  margin: 1rem;
}

.result p {
  margin: 1rem;
  font-size: 1.2rem; 
  color: var(--light-lavender);
  line-height: 1;
  text-align: center;
}

.score-circle {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, var(--violet-blue), var(--light-royal-blue));
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  margin: 1rem;
}

.score-circle h2 {
  margin: 0;
  font-size: 5rem; 
  line-height: 1; 
}

.score-circle p {
  margin: 0;
  font-size: 1.1rem; 
  color: var(--light-lavender);
  line-height: 1;
}

/* details section */

.details {
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  width: 23.4375rem; /* 375px */
  height: 31.25rem; /* 500px */
  box-sizing: border-box;
}

.details h5 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--dark-gray-blue);
  line-height: 1; 
  margin: 1rem 0 2rem 0;
}

.detail-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-gray-blue); 
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem; 
  width: 100%;
  box-sizing: border-box;
}

.detail-box img {
  width: 1.2rem; /* Adjust the icon size */
  height: 1.2rem; /* Adjust the icon size */
  margin-right: 1rem; /* Add space between the icon and the text */
  margin-bottom: -0.2rem;
}

/* Remove margin from the last detail-box to avoid extra space */
.detail-box:last-child {
  margin-bottom: 0;
}

.reaction-box {
  background-color: hsla(0, 100%, 67%, 0.10);
  font-size: 1.2rem;
  color: var(--light-red);
  font-weight: 800;
  border-radius: 1rem;
}

.memory-box {
  background-color: hsla(39, 100%, 56%, 0.10);
  font-size: 1.2rem;
  color: var(--orangey-yellow);
  font-weight: 800;
  border-radius: 1rem;
}

.verbal-box {
  background-color: hsla(166, 100%, 37%, 0.10);
  font-size: 1.2rem;
  color: var(--green-teal);
  font-weight: 800;
  border-radius: 1rem;
}

.visual-box {
  background-color: hsla(234, 85%, 45%, 0.10);
  font-size: 1.2rem;
  color: var(--cobalt-blue);
  font-weight: 800;
  border-radius: 1rem;
}

.details button {
  background-color: var(--dark-gray-blue);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 800;
  width: 100%; 
  height: 3rem; 
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  text-align: center;
  line-height: 3rem; 
  margin-top: 1rem; 
  transition: background-color 0.2s ease-in-out;
}

.details button:hover {
  background-color: hsl(224, 30%, 50%); /* Slightly lighter shade on hover */
}

/* Responsive styles */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    width: 46.875rem; /* 750px */
    height: 31.25rem; /* 500px */
  }

  .result {
    border-radius: 2rem;
  }

  .details {
    border-radius: 0 2rem 2rem 0;
  }
}

/* Attribution Container */
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2rem;
}

.attribution a {
  color: var(--deep-blue);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}
